
*{
    margin: 0px;
    padding:0px;
    padding-right: 50px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
        
    
}

nav{
    width:0 px;
    height: 121px;
    background-color: rgb(2, 77, 68);
    color: rgba(248, 245, 241, 0.763);
    display:inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px ;
    position:fixed;
    top: 0px;
    z-index: 1;
}
.logo{
    font-size: 10px;
    font-weight: bold;
    
}
.menu{
    width: 100%;
    display:flex;
    justify-content:left;
    list-style:none;
}
.menu li{
    margin-left:0 px;
}
/*topics*/
.menu li a{
    font-size: 20px;
    color: rgba(248, 245, 241, 0.763);
    text-decoration: none;
    transition: 0.3s ease;
}
.menu li a:hover{
    color: #089e97;
}
